@import "@picocss/pico/css/pico.red.min.css";
@import "flexboxgrid/css/flexboxgrid.min.css";

@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'BebasNeue', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  min-height: 100vh;       /* Full viewport height */
  text-align: center;      /* Center text if needed */
}